.footer-toggle {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  font-size: 0.7rem;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.3s ease-in-out;
}

.footer.open {
  bottom: 0; /* Affiche le footer */
}

.footer-links-container {
  flex:1;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

  .footer-left {
    flex: 2; /* La première colonne est plus large */
    padding-right: 1rem;
  }
  .footer-section {
    padding: 0.5rem; /* Réduit le padding interne des sections */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .footer-links {
    align-items: center;
    gap: 0.3rem;
    flex: 1;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
    flex: 1;
  }
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  .footer a:hover {
    text-decoration: underline;
  }
  .license-logo {
    margin-top: 0.5rem;
  }
  .license-logo img {
    width: 35px; /* Taille réduite du logo */
  }
  @media (max-width: 768px) {
    .footer-toggle {
      display: block; /* Affiche le bouton de toggle en mobile */
    }

    .footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: fixed;
      padding: 1rem;
      bottom: -100%; /* Masque le footer hors de la vue */
    }

    .footer-links-container {
      flex-direction: row;
      justify-content: space-around;
      margin-top: 1rem;
    }

    .footer-section {
      padding: 0.5rem 0;
    }

    .footer-left {
      padding-right: 0;
    }
  }